.button{
	display: inline-block;
	background-color: #e7bd3b;
	border: none;
	border-radius: 4px;
	color: white;
	padding: 16px 40px;
	text-decoration: none;
	font-size: 30px;
	margin: 2px;
	cursor: pointer;
}
.button2{
	background-color: #4286f4;
}
