<html>
<head>
    <meta charset="utf-8"/>
    <title>Fridge domotic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Fridge control</h1>
<p>Current temperature: <strong>{{temp_cur}}</strong></p>
<p>Motor state: {{motor_state}}</p>
<p>past temperatures:</p>
{{svg}}
<p>
    <a href="/settings.html">Settings</a>
</p>
</body>
</html>
