<html>
<head>
    <meta charset="utf-8"/>
    <title>Fridge domotic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>Settings</h1>

<form method="post" action="/settings.html">
    <fieldset>
        <legend>Temperature thresholds:</legend>
        <label for="temp_max">t° max [°C]:</label>
        <input type="text" id="temp_max" name="temp_max" value="{{temp_max}}"><br>
        <label for="temp_min">t° min [°C]:</label>
        <input type="text" id="temp_min" name="temp_min" value="{{temp_min}}"><br>
    </fieldset>
    <fieldset>
        <legend>Motor protection:</legend>
        <label for="run_max">run max [s]:</label>
        <input type="text" id="run_max" name="run_max" value="{{run_max}}"><br>
        <label for="rest_min">rest min [s]:</label>
        <input type="text" id="rest_min" name="rest_min" value="{{rest_min}}"><br>
    </fieldset>
    <fieldset>
        <label for="submit">Submit:</label><br>
        <input type="submit" id="submit" name="submit" value="Submit">
    </fieldset>
</form>

<p>
    <a href="/">Back home</a>
</p>

</body>
</html>
